body{
    margin: auto;
    width: 100%;
    font-family: 'monospace';
    background-image: url("/Pict/bg.png");
    background-repeat: no-repeat;
    background-attachment: absolute;
    background-size: 100%;
}
.master{
    margin-top: 0;
    margin-left: 20px;
    position: relative; 
}

.rightheader{
    position: relative;
    width: 400px;
}

.rightheader1{
    position:absolute;
    margin-top: -40px;
    margin-left: 100px;
    width: 300px;
    width: 150px;
    height: 30px;
}

.leftheader{
    position: absolute;
    font-size: 14px;
    right: 0;
    margin-top: -40px;
    width: 
    350px;
}

#k{
    text-decoration: none;
}

.leftheader1{
    position:absolute;
    margin-top: 12px;
    width: 300px;
    width: 140px;
    height: 30px;
}
#imglg{
    width: 25px;
    height: 25px;
    margin-left: 8px;
}

#imglg2{
    width: 20px;
    height: 20px;
    padding-left: 10px;
}
#button{
    margin-left: 15px;
    width: 60px;
    height: 18px;  
    font-size: 10px;        
}

.next{
    height: 70px;
    width:400px;
    position: relative;
}

#logo{
    padding-right: 20px;
    width: 50px;
    height: 50px;   
}
#acylogo{
    position: absolute;
    font-size: 30px;
    margin-top: -50px;
    margin-left: 80px;
    width: 300px;
}

#content{
    border: 2px solid black ;
}

#us{
    margin-left: 20px;
}

.footer{
    margin-block-start: 100px;
}

.logobigo{
    margin-top: -400px;
    margin-left: 650px;
}

.logoform{
    margin-left: 230px;
    padding-top: 60px;
    padding-left: 20px;
    width: 350px;
    height: 370px;
    border: 2px solid black;
    border-radius: 30px;
}

.above{
    line-height: 30px;
    width: 320px;
}

#yoo{
    margin-top: 20px;
    margin-left: 80px;
}

.kotak{
    position: relative;
}

#puw{
    height: 30px;
    width: 30px;
    position: absolute;
}
#here{
    margin-left: 40px;
    border: none;
    height: 30px;
    width: 280px;
}

#min{
    line-height: 6px;
}

#y{
    width: 320px;
}

#kya{
    text-align: right;
}
#cosign{
    height: 25px;
    width: 180px;
    border-radius: 20px;
    font-size: 16px;
    background-color:rgb(76, 105, 238);
} 
#ai{
    margin-top: -63px;
    margin-left: 400px;
}   
#yoq{
    width: 420px;
    height: 25px;
    border-radius: 20px;
    padding-left: 20px;
    background-color: transparent;
}

