.dropbtn {
    color: white;
    padding: 4px;
    font-size: 6px;
    border: none;
    cursor: pointer;
    width: 50px;
    line-height: 3px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-top: 40px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: antiquewhite;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color:antiquewhite;
  }