body{
    margin: auto;
    width: 100%;
    font-family: 'monospace';
    background-image: url("/Pict/bg.png");
    background-repeat: no-repeat;
    background-attachment: absolute;
    background-size: 100%;
}
.master{
    margin-top: 30px;
    margin-left: 30px;
    position: relative; 
}

.rightheader{
    position: relative;
    width: 400px;
}

.rightheader1{
    position:absolute;
    margin-top: -40px;
    margin-left: 100px;
    width: 300px;
    width: 150px;
    height: 30px;
}

.leftheader{
    position: absolute;
    font-size: 14px;
    right: 0;
    margin-top: -50px;
    width: 350px;
}
#ai{
    margin-top: -45px;
    margin-left: 400px;
    }   

#k{
    text-decoration: none;
}

.leftheader1{
    position:absolute;
    margin-top:14px;
    width: 300px;
    width: 140px;
    height: 30px;
}
#imglg{
    width: 25px;
    height: 25px;
    margin-left: 8px;
}
#imglg2{
    width: 20px;
    height: 20px;
    padding-left: 10px;
}
#button{
    margin-left: 15px;
    width: 60px;
    height: 18px;  
    font-size: 10px;        
}

.next{
    height: 70px;
    width:400px;
    position: relative;
}

#logo{
    padding-right: 20px;
    width: 50px;
    height: 50px;   
}
#acylogo{
    position: absolute;
    font-size: 30px;
    margin-top: -50px;
    margin-left: 80px;
    width: 300px;
}
#yoq{
    width: 480px;
    height: 25px;
    border-radius: 20px;
    padding-left: 20px;
    background-color: transparent;
}
#c{
    text-decoration: none;
}