body{
          background-image: url(Background.png );
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          height: auto;
}

#st-header{
          height: 194px;
}

/* .in-header{

}

.navbar-media{
}

.ikut{
}

.navbar-space{

}

.navbar-link{

}

.container-satu{

}

.container-header-search{

}

.header-with-search{

}

.achraf-searchbar{

}

.achraf-category{

}
#from{


} */
#content-login-logo{
          height: 800px;
}
.input{
          margin-top: 25px;
          padding: 12px;
}
.recover{
          padding-left: 10px;
          padding-right: 25px;
          text-align: left;
}
.sign-up{
          margin-bottom: 10px;
                   
}
.sign_in{
          padding-left: 10px;
          padding-right: 10px;
}
.button{
          margin-top: 10px;
          background-color: green;
}
.pass{
          margin-bottom: 10px;
          float: right;
          padding-right: 25px;
}
.form-Us{
          margin-top: 25px;
}

.sidebar{
          float: left;
          width: 500px;
          height: 300px;
}
.container-form{
          border: 1px solid;
          border-radius: 5px;
          width: 200px;
          height: 250px;
          margin-left: 300px;
          margin-top: 25px;
          border-bottom: 4px solid black;
          color:black;    
          padding-left: 10px;
          padding-right: 10px;
}
.logo-achraf{
          height: 300 px;
          float: right;
          margin-right: 200px;        
}
.clear{
          clear: both;
}
footer{
          height: 75px;
          border: none;

}
